<!-- MAIN CONTAINER -->
<div class="container">
    <!-- Select user -->
    <div class="row my-2">
        <div class="col-10">
            <select class="form-control" ng-model="selected_user" ng-options="user as user.firstname for user in users_list" ng-change="selectUser()">
                <option value="">-- See the interface as user --</option>
            </select>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-outline-success btn-block" ng-click="show_new_user_form = true"><span class="oi oi-plus"></span> user</button>
        </div>
    </div> <!-- / select user -->
    <!-- New user form -->
    <form class="form" ng-show="show_new_user_form" ng-submit="addUser()">
        <div class="form-group row">
            <div class="col-2">
                <input type="text" ng-model="new_user_pseudo" class="form-control form-control-sm" placeholder="Pseudo *" required>
            </div>
            <div class="col-2">
                <input type="text" ng-model="new_user_firstname" class="form-control form-control-sm" placeholder="First name">
            </div>
            <div class="col-2">
                <input type="text" ng-model="new_user_lastname" class="form-control form-control-sm" placeholder="Last name">
            </div>
            <div class="col-3">
                <input type="text" ng-model="new_user_email" class="form-control form-control-sm" placeholder="Email *" required>
            </div>
            <div class="col-2">
                <input type="text" ng-model="new_user_password" class="form-control form-control-sm" placeholder="Password *" required>
            </div>
            <div class="col-1">
                <button type="submit" class="btn btn-sm btn-success"><span class="oi oi-check"></span></button>
            </div>
        </div>
    </form> <!-- / new user form -->

    <!-- USER SELECTED ROW -->
    <div class="row" ng-show="selected_user">
        <div class="col-12 mb-2">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#" class="nav-link" ng-click="view = 'tasks'"><span class="oi oi-data-transfer-download"></span> Tasks</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" ng-click="view = 'quashs'"><span class="oi oi-data-transfer-upload"></span> Quashs</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" ng-click="view = 'skills'"><span class="oi oi-cog"></span> Skills</a>
                </li>
            </ul>
        </div>

        <!-- SKILLS -->
        <div class="col-12" ng-show="view == 'skills'">
            <h5 class="text-info">Skills</h5>
            <!-- User skills list -->
            <div ng-repeat="skill in selected_user.skills_list">
                <h5>
                    <button type="button" class="btn btn-sm btn-info" ng-click="removeUserSkill(skill)"><span class="oi oi-trash"></span></button> {{skill.name}}
                </h5>
                <p>{{skill.text}}</p>
            </div> <!-- / user skills list -->
            <button type="button" class="btn btn-sm btn-info" ng-click="show_user_skill_form = !show_user_skill_form"><span class="oi oi-plus"></span> skill</button>
            <!-- Add skill to user -->
            <form class="form small" ng-submit="addUserSkill()" ng-show="show_user_skill_form">
                <div class="row form-group my-2">
                    <div class="col-4">
                        <select class="form-control form-control-sm" ng-model="selected_skill" ng-options="skill as skill.name for skill in all_skills_list"></select>
                    </div>
                    <div class="col-6">
                        <input type="text" class="form-control form-control-sm" ng-model="text" placeholder="Description of my skill that will appear in my profile" required>
                    </div>
                    <div class="col-2">
                        <input type="submit" class="btn btn-sm btn-success" value="Add"/>
                    </div>
                    <div class="col-12">
                        <button type="button" class="btn btn-sm" ng-click="show_new_skill_form = true">Create a new one</button>
                    </div>
                </div>
            </form> <!-- / add skill to user -->
            <!-- Create new skill -->
            <form class="form small" ng-submit="addSkill()" ng-show="show_new_skill_form">
                <div class="row form-group my-2">
                    <div class="col-4">
                        <input type="text" class="form-control form-control-sm" ng-model="skill_name" placeholder="Name" required>
                    </div>
                    <div class="col-8">
                        <input type="submit" class="btn btn-sm btn-success" value="Create"/>
                    </div>
                </div>
            </form> <!-- / create new skill -->
        </div> <!-- / SKILLS -->

        <!-- TASKS -->
        <div class="col-12" ng-show="view == 'tasks'">
            <h5 class="text-primary">
                Tasks submitted
                <button type="button" class="btn btn-sm btn-primary" ng-click="show_user_task_form = !show_user_task_form"><span class="oi oi-plus"></span> task</button>
            </h5>

            <!-- New task form -->
            <form class="form small" ng-submit="addUserTask()" ng-show="show_user_task_form">
                <div class="row form-group my-2">
                    <div class="col-3">
                        <label>Title</label>
                        <input type="text" class="form-control form-control-sm" ng-model="title" placeholder="Task title" required>
                    </div>
                    <div class="col-3">
                        <label>Deadline</label>
                        <input type="date" class="form-control form-control-sm" ng-model="deadline" required>
                    </div>
                    <div class="col-3">
                        <label>Category</label>
                        <select class="form-control form-control-sm" ng-model="selected_skill" ng-options="skill as skill.name for skill in all_skills_list"></select>
                    </div>
                    <div class="col-3">
                        <label>Distance (km)</label>
                        <input type="number" class="form-control form-control-sm" ng-model="distance" placeholder="1">
                    </div>
                    <div class="col-12">
                        <label>Description</label>
                        <input type="text" class="form-control form-control-sm" ng-model="description" placeholder="Description" required>
                    </div>
                    <div class="col-2">
                        <input type="submit" class="btn btn-sm btn-success" value="Add"/>
                    </div>
                </div>
            </form> <!-- / form create new task -->

            <!-- Tasks list -->
            <div ng-repeat="task in selected_user.tasks_list" class="card my-2" task="task"></div> <!-- / list of tasks -->

        </div> <!-- / TASKS -->

        <!-- QUASHS -->
        <div class="col-12" ng-show="view == 'quashs'">
            <h5 class="text-success">Possible quashs <small>based on your skills</small></h5>
            <div class="row" ng-show="selected_user.interesting_quashs_list.length > 0">
                <div class="col-12">
                    <div class="alert alert-success">
                        There are {{selected_user.interesting_quashs_list.length}} new quashs that could interest you.
                        <button type="button" class="btn btn-outline-success" ng-click="show_new_interesting_quashs = !show_new_interesting_quashs"><span class="oi oi-eye"></span> See</button>
                    </div>
                </div>
            </div>

            <!-- Interesting quashs -->
            <div ng-repeat="interesting_quash in selected_user.interesting_quashs_list" class="card border-success mb-2" ng-show="show_new_interesting_quashs" quash="interesting_quash" quasher="selected_user"></div>
            <!-- Quashs in progress -->
            <div ng-repeat="quash in selected_user.possible_quashs_list" class="card my-2" ng-show="quash.status != 'created'" quash="quash"></div>

        </div> <!-- / QUASHS -->
    </div> <!-- / USER SELECTED ROW -->
</div> <!-- / MAIN CONTAINER -->
