<div class="container-fluid bg-dark">
    <div class="row justify-content-center">
        <div class="col-12 col-md-5 my-4">
            <div class="card">
                <div class="card-body">
                    <div class="form-group mt-3">
                        <label for="user_login">Username</label>
                        <input type="text" id="user_login" ng-model="user_login" class="form-control form-control-lg" placeholder="Login"/>
                    </div>
                    <div class="form-group my-3">
                        <label for="user_password">Password</label>
                        <input type="password" id="user_password" ng-model="user_password" class="form-control form-control-lg" placeholder="Password"/>
                    </div>
                    <div class="my-1">
                        <button type="button" class="btn btn-lg btn-rounded-lg btn-success btn-block p-3" ng-click="login()">Sign up for TasQuash</button>
                    </div>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-outline-primary btn-rounded btn-block">Sign in</button>
                </div>
            </div>
        </div>
    </div>
</div>
