<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2" ng-controller="navbarController">
    <a class="navbar-brand" href="#">TasQuash</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active" ng-repeat="item in navbar">
            <a class="nav-link" href="{{item.lien}}">{{item.texte}}</a>
        </li>
        <li class="nav-item active" ng-show="logged_in == true">
            <button type="button" class="btn btn-rounded" ng-show="logged_in == true" ng-click="logout()">Log out</button>
            <a class="btn btn-rounded" ng-show="logged_in != true" href="#/login">Log in</a>
        </li>
    </ul>
    </div>
</nav>
